:root {
  --header-bg-color: #fff;
  --hero-bg-color:#DBEBF8;
  --main-title-color:#050931;
  --main-text-color: #647685;
  --main-subtitle-color: #1B1E1C;
  --main-bg-color:#F4F9FD;
  --btn-bg-color:#1F6BFF;
}
